doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        style
            include styleCart.css
    body
        div(class="container" id="container")
            h1 My Cart
            for order in arrayOfOrders
                -var prodLink="http://localhost:3000/Product/"+order.p_id;
                div(class="box" )
                    a(href=prodLink)
                        div.indProd
                            //-var product_image= (product.itemImage.data).toString('base64')
                            //-var type=product.itemImage.contentType
                            //console.log(product_image)
                            .image_cover
                                -var imageLocation="http://localhost:3000/public/assets/images/"+order.itemImage
                                img(src=imageLocation)    
                            .contents
                                p() #{order.itemName}
                                p #{order.order_quantity}
            else  
                p There are no Products added till now.
            
            
