doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        style
            include styleCart.css
        script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js")

    body
        div(class="container" id="container")
            h1 My Cart
            -arrayProducts=Me.myCart;
            for product in arrayProducts
                //console.log(arrayProducts)
                -var prodLink="http://localhost:3000/Product/"+product._id;
                div(class="box" )
                    a(href=prodLink)
                        div.indProd
                            //-var product_image= (product.itemImage.data).toString('base64')
                            //-var type=product.itemImage.contentType
                            //console.log(product_image)
                            .image_cover
                                -var imageLocation="http://localhost:3000/public/assets/images/"+product.itemImage
                                -var productId=product._id
                                img(src=imageLocation)    
                            .contents
                                p() #{product.itemName}
                                p #{product.itemQuantity}
            else  
                p There are no Products added till now.
            
            
