doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        style
            include styleProduct.css
        script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js")
    body
        h1 #{product.itemName}
        .row
            div.col_12
                -var imageLocation="http://localhost:3000/public/assets/images/"+product.itemImage
                -var productId=product._id
                img(src=imageLocation class="Main_product_img")
            div.col_12
                p() Name Of Seller:  #{product.sellerName}
                p() Email Of Seller:  #{product.sellerEmail}
                p() Product Description:  #{product.itemDescription}
                p() Quantity Of Product#{product.itemQuantity}
                form(method='POST' action=('http://localhost:3000/BuyAProduct/'+productId) enctype="multipart/form-data" )
                    div
                        label(for="item_quantity") Quantity:
                            input#item_quantity.form-control(type='Number', name="item_quantity")
                    div
                        label(for='delivery_address') Delivery Address:
                            input#delivery_address.form-control(type='text', name="delivery_address")
                    button.btn.btn-primary(type='submit') Buy
